.container {
    padding: 15px;
    text-overflow: ellipsis;
}

a {
    cursor: pointer;
}

#add-to-conv {
    float: right;
}

.message-field {
    height: 500px;
    overflow-y: scroll;
    padding: 15px;
}

#leave-conv {
    float:right;
    margin-right: 15px;
}

.dropdown-menu{
    max-width: 600px;
}

.tab-pane {
    padding: 15px;
    background-color: white;
}