<!DOCTYPE html>
<html ng-app="chatApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat4Blub</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="javascript/angular.js"></script>
    <script src="javascript/controllers.js"></script>

    <script src="javascript/jquery.js"></script>
    <script src="javascript/bootstrap.js"></script>
    <script src="javascript/fancy.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-controller="userController">
            <div class="well">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="user in users">
                        <a>
                            {{user.name}}
                            <span ng-click="addToConversation()" id="add-to-conv" class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-controller="conversationController" class="col-md-8">
            <ul class="nav nav-tabs">
                <li ng-repeat="conversation in conversations" ng-click="setActive()" class="{{isActive(conversation)}}">
                    <a href="#{{conversation.id}}" data-toggle="tab">{{conversation.title()}}</a>
                </li>
                <li ng-click="addConversation()">
                    <a><span class="glyphicon glyphicon-plus"></span> Start new conversation</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-repeat="conversation in conversations" id="{{conversation.id}}" class="tab-pane {{isActive(conversation)}}">
                    <ul class="list-unstyled message-field">
                        <li ng-repeat="message in conversation.messages">{{message.name}} : {{message.text}}</li>
                    </ul>

                    <form ng-submit="sendMessage()" class="form-inline" role="form">
                        <input ng-model="conversation.message" type="text" class="form-control" >
                        <input class="btn btn-primary" type="submit" value="Send">

                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Emoticons<span class="caret"></span></button>
                            <ul class="list-inline dropdown-menu" role="menu">
                                <li><a href="#"><img src="chat-emoticons/emoticon-1.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-2.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-3.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-4.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-5.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-6.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-7.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-8.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-9.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-10.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-11.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-12.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-13.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-14.gif"></a></li>
                                <li><a href="#"><img src="chat-emoticons/emoticon-15.gif"></a></li>
                            </ul>

                        <input ng-click="leaveConversation()" id="leave-conv" class="btn btn-danger" type="button" value="Leave Conversation">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>