<!DOCTYPE html>
<html ng-app="chatApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Chat4Blub</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script src="javascript/angular.js"></script>
    <script src="javascript/controllers.js"></script>

    <script src="javascript/jquery.js"></script>
    <script src="javascript/bootstrap.js"></script>
    <script src="javascript/fancy.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-controller="userController">
            <div class="well">
                <form class="form" role="form">
                    <input ng-model="nick" type="text" class="form-control" placeholder="Choose your nickname" />
                </form>
            </div>
            <div class="well">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="user in users">
                        <a>
                            {{user.name}}
                            <span ng-click="addToConversation()" id="add-to-conv" class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-controller="conversationController" class="col-md-8">
            <ul class="nav nav-tabs">
                <li ng-repeat="conversation in conversations" ng-click="setActive()">
                    <a href="#{{conversation.id}}" data-toggle="tab">{{conversation.title()}}</a>
                </li>
                <li ng-click="addConversation()">
                    <a><span class="glyphicon glyphicon-plus"></span> Start new conversation</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-repeat="conversation in conversations" id="{{conversation.id}}" class="tab-pane">
                    <ul class="list-unstyled message-field">
                        <li ng-repeat="message in conversation.messages">{{message.name}} : {{message.text}}</li>
                    </ul>
                    <form ng-submit="sendMessage()" class="form-inline" role="form">
                        <input ng-model="conversation.message" type="text" class="form-control" >
                        <input class="btn btn-primary" type="submit" value="Send">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>